@import url('https://fonts.googleapis.com/css2?family=Londrina+Outline&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";

:root {
  --background: #e0e0e0;
  --foreground: #111111;
}

@theme {
  --font-londrina: "Londrina Outline", system-ui, sans-serif;
  --font-roboto: "Roboto", sans-serif;

  --color-background: var(--background);
  --color-foreground: var(--foreground);

  @keyframes marquee {
    from { transform: translateX(0); }
    to { transform: translateX(-100%); }
  }

  --animate-marquee: marquee 20s linear infinite;
}

@layer base {
  h1, .h1{
    @apply 2xl:text-7xl xl:text-6xl lg:text-5xl md:text-4xl text-3xl;
  }

  h2, .h2{
    @apply lg:text-4xl md:text-3xl text-2xl;
  }

  h3, .h3{
    @apply lg:text-3xl md:text-2xl text-xl;
  }

  h4, .h4{
    @apply lg:text-2xl md:text-xl text-lg;
  }
  
  body {
    @apply md:text-lg text-base leading-snug;
  }
}

@layer components {
  .line-hover {
    @apply relative;
  }

  .line-hover::after {
    @apply absolute rounded-full bg-foreground/80 transition-all opacity-0 duration-300 ease-in-out h-0.5 -bottom-1.5 left-0 w-1;
    content: "";
  }

  .line-hover:hover::after,
   .line-hover.active::after{
    @apply opacity-100 w-2/3;
  }

  .bef-aft-shadow {
    @apply relative;
  }

  .bef-aft-shadow::before{
    @apply absolute bg-linear-to-r from-background to-background/0 pointer-events-none z-1 h-full w-[2em] left-0 top-0;
    content: "";
  }

  .bef-aft-shadow::after{
    @apply absolute bg-linear-to-l from-background to-background/0 pointer-events-none z-1 h-full w-[2em] right-0 top-0;
    content: "";
  }

  .nav-padding{
    @apply lg:py-5 py-3
  }

  .hero-margin {
    @apply 2xl:mt-16 xl:mt-12 lg:mt-10 md:mt-8 mt-6 2xl:mb-20 xl:mb-16 lg:mb-12 md:mb-10 mb-8;
  }

  .sec-padding {
    @apply 2xl:py-20 xl:py-16 lg:py-12 md:py-10 py-8;
  }

  .sec-margin {
    @apply 2xl:my-20 xl:my-16 lg:my-12 md:my-10 my-8;
  }

  .view-more {
    @apply relative lg:max-h-none overflow-hidden max-h-60;
  }

  .view-more::after {
    @apply absolute bg-linear-to-t from-background to-background/0 pointer-events-none z-1 w-full h-[5em] bottom-0 left-0 block lg:hidden;
    content: "";
  }
}