@import url('https://fonts.googleapis.com/css2?family=Londrina+Outline&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";

:root {
  --background: #e0e0e0;
  --foreground: #111111;
}

@theme {
  --font-londrina: "Londrina Outline", system-ui, sans-serif;
  --font-roboto: "Roboto", sans-serif;

  --color-background: var(--background);
  --color-foreground: var(--foreground);

  @keyframes marquee {
    from { transform: translateX(0); }
    to { transform: translateX(-100%); }
  }

  --animate-marquee: marquee 20s linear infinite;
}

@layer base {
  h1, .h1{
    @apply 2xl:text-7xl xl:text-5xl lg:text-4xl md:text-3xl text-2xl leading-[1.2em];
  }

  h2, .h2{
    @apply xl:text-6xl lg:text-5xl md:text-4xl text-3xl leading-[1.2em];
  }

  h3, .h3{
    @apply xl:text-5xl lg:text-4xl md:text-3xl text-2xl leading-[1.2em];
  }

  h4, .h4{
    @apply lg:text-3xl text-2xl leading-[1.2em];
  }

  h5, .h5{
    @apply lg:text-2xl text-xl leading-[1.2em];
  }

  h6, .h6{
    @apply lg:text-xl text-lg leading-[1.2em];
  }
  
  body {
    @apply lg:text-lg text-base leading-[1.4em];
  }
}

@layer components {
  .line-hover {
    @apply relative;
  }

  .line-hover::after {
    @apply absolute rounded-full bg-foreground/80 transition-all opacity-0 duration-300 ease-in-out h-0.5 -bottom-1.5 left-0 w-1;
    content: "";
  }

  .line-hover:hover::after {
    @apply opacity-100 w-2/3;
  }

  .bef-aft-shadow {
    @apply relative;
  }

  .bef-aft-shadow::before{
    @apply absolute bg-linear-to-r from-background to-background/0 pointer-events-none z-10 h-full w-[2em] left-0 top-0;
    content: "";
  }

  .bef-aft-shadow::after{
    @apply absolute bg-linear-to-l from-background to-background/0 pointer-events-none z-10 h-full w-[2em] right-0 top-0;
    content: "";
  }

  .nav-padding{
    @apply lg:py-5 py-3
  }

  .hero-padding {
    @apply 2xl:pt-16 xl:pt-12 lg:pt-10 md:pt-8 pt-6 2xl:pb-20 xl:pb-16 lg:pb-12 md:pb-10 pb-8;
  }

  .sec-padding {
    @apply 2xl:py-20 xl:py-16 lg:py-12 md:py-10 py-8;
  }
}