---
import Cta from "./Cta.astro";
import Slide from "./Slide.astro";
import { Icon } from "astro-icon/components";

export interface navLink {
  name: string;
  href: string;
}

const navLinks: navLink[] = [
  { name: "About Me", href: "#about-me" },
  { name: "Experience", href: "#experience" },
  { name: "Projects", href: "#projects" },
  { name: "Contact", href: "#contact" },
];
---

<header class="lg:py-5 py-3">
  <div class="container mx-auto px-5">
    <div class="flex justify-between items-center">
      <a
        href="/"
        class="lg:text-3xl md:text-2xl text-xl font-londrina font-bold hover:text-foreground/80 duration-150"
        >Zain Haider</a
      >
      <nav class="hidden md:block">
        <ul class="flex xl:space-x-10 lg:space-x-8 md:space-x-6 space-x-4">
          {
            navLinks.map((link) => (
              <li>
                <a href={link.href} class="line-hover">
                  {link.name}
                </a>
              </li>
            ))
          }
        </ul>
      </nav>

      <div class="flex gap-5 items-center">
        <div class="hidden sm:block">
          <Cta><Icon name="download" size={17} class="mr-2" /> Resume </Cta>
        </div>

        <div class="md:hidden">
          <Slide id="header-mobile-nav" icon="menu" widthClass="w-80">
            <nav>
              <ul class="flex flex-col gap-6 text-lg">
                {
                  navLinks.map((link) => (
                    <li>
                      <a href={link.href} class="line-hover">
                        {link.name}
                      </a>
                    </li>
                  ))
                }
              </ul>
              <div class="mt-8 block sm:hidden">
                <Cta
                  ><Icon name="download" size={17} class="mr-2" /> Resume
                </Cta>
              </div>
            </nav>
          </Slide>
        </div>
      </div>
    </div>
  </div>
</header>
